:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
/* Header */
.page-header {
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}

/* Site-nav */
.site-nav a {
  color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

header li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Auth-nav */
.auth-nav a {
  color: var(--primary-text-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Section "Hero" */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Section "Features" */
.features {
  background-color: var(--primary-bg-color);
}
.features-title {
  color: transparent;
}
.features ul {
  color: var(--primary-text-color);
}

.features h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section "Work" */

.work {
  background-color: var(--primary-bg-color);
}
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section "Our-team" */
.our-team {
  background-color: #f5f4fa;
}
.our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.our-team span {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--secondary-text-color);
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
/* Footer logo */

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo > .logo-web {
  color: var(--accent-color);
}
.footer-logo > .logo-studio {
  color: var(--secondary-text-color);
}
